@tailwind base;
@tailwind components;
@tailwind utilities;
.bar-left {
	display: flex;
	gap: 1rem;
}

.bar-right {
	display: flex;
	gap: 2rem;
}

.suggest-trip-img {
	width: 100%;
	min-width: 70%;
	height: auto;
	filter: brightness(0.8);
}

.suggest-trip.trip-set {
	width: 100%;
	position: relative;
}

.suggest-trip.suggest-text {
	position: absolute;
	top: 50%;
	color: white;
	margin-left: 10%;
}

.button-to-detail {
	padding: 1rem 2rem;
	background-color: rgb(23, 103, 103);
}

.good-points {
	background-color: rgb(65, 126, 240);
	height: 12rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
	gap: 3.5rem;
}
.good-point-img {
	width: 50px;
	height: 50px;
}

.good-point {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.package-img {
	width: 20rem;
	height: auto;
}

.package-detail.detail-text {
	width: 60%;
}
.package {
	width: 20rem;
	height: 21rem;
	background-color: white;
	position: relative;
}

.discount-label {
	background-color: rgb(255, 123, 0);
	padding: 0.5rem 1.5rem;
	position: absolute;
	top: 25px;
	left: -10px;
	color: antiquewhite;
}

.discount-label-bottom {
	background-color: rgb(194, 94, 0);
	position: absolute;
	top: 60px;
	left: -10px;
	width: 10px;
	height: 10px;
	transform: skewY(30deg);
}

.destination-img {
	width: 100%;
	height: auto;
}

.icon-img {
	width: 20px;
	height: 20px;
}
