@tailwind base;
@tailwind components;
@tailwind utilities;
.bar-left {
	display: flex;
	gap: 1rem;
}

.bar-right {
	display: flex;
	gap: 3rem;
}

.suggest-trip-img {
	width: 100%;
	min-width: 70%;
	filter: brightness(0.8);
	position: absolute;
	z-index: -1;
}

.suggest-trip-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(./assets/switzerland.jpeg);
	background-size: 100%;
	z-index: -1;
}

.suggest-trip.trip-set {
	width: 100%;
	position: relative;
	height: 700px;
}

.suggest-trip.suggest-text {
	color: white;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	position: relative;
	top: 70%;
	transform: translate(0, -70%);
}

.suggest-trip-filter-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	z-index: -1;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	opacity: 0.4;
	filter: invert(0.7);
}

.button-to-detail {
	padding: 1rem 2rem;
	background-color: rgb(72 146 231);
	width: fit-content;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	margin-top: 1rem;
}

.button-to-detail:hover {
	background-color: rgb(71 113 231);
	color: white;
}

.button-to-detail-white {
	padding: 1rem 2rem;
	background-color: white;
	width: fit-content;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	margin-top: 1rem;
	color: black;
}

.good-points {
	height: 12rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
	gap: 3rem;
}
.good-point-img {
	width: 50px;
	height: 50px;
}

.good-point {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.package-img {
	width: 20rem;
	height: auto;
}

.package-detail.detail-text {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.package-detail-topic {
	line-height: 1.2;
}

.package {
	width: 20rem;
	height: 21rem;
	background-color: white;
	position: relative;
}

.discount {
	display: flex;
	justify-content: right;
}

.discount-field {
	padding: 120px 200px 70px 0;
}

.discount-label {
	background-color: rgb(255, 123, 0);
	padding: 0.5rem 1.5rem;
	position: absolute;
	top: 25px;
	left: -10px;
	color: antiquewhite;
}

.discount-label-bottom {
	background-color: rgb(194, 94, 0);
	position: absolute;
	top: 60px;
	left: -10px;
	width: 10px;
	height: 10px;
	transform: skewY(30deg);
}

.destination {
	height: 350px;
	overflow: hidden;
}

.destination-img {
	width: 100%;
	height: auto;
}

.icon-img {
	width: 20px;
	height: 20px;
}

.article-img {
	min-width: 250px;
	min-height: 240px;
	object-fit: cover;
	transition: transform 0.3s;
}

.article {
	width: 250px;
	height: 240px;
	overflow: hidden;
	position: relative;
}

.article-img-hover {
	transform: scale(1.1);
	filter: brightness(0.7);
}

.article-text {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%, 20%);
	display: none;
	color: white;
	cursor: pointer;
	text-align: center;
}

.show-article {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-items: center;
}

.logo-travel-tour {
	width: 30px;
	height: 30px;
}

.award {
	width: auto;
	height: 60px;
}

.topic-logo {
	transform: scale(1.5);
	color: rgb(70, 127, 231);
}

.navbar-logo {
	color: white;
}

.search-logo {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	color: rgb(204, 213, 232);
}

.logo-social {
	width: 15px;
	height: 15px;
	color: rgb(70, 138, 231);
}

.logo-social.bottom-social {
	color: white;
}

.logo-social.letter-social {
	color: rgb(170, 170, 170);
	transform: scale(1.05);
}

.country-field {
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: relative;
}

.country {
	display: flex;
	justify-content: center;
	width: 80px;
	height: 80px;
	position: relative;
	object-fit: contain;
	transition: transform 0.5s;
}

.country-img {
	min-width: 80px;
	min-height: 80px;
	object-fit: cover;
	filter: brightness(0.65);
}

.country:hover {
	transform: scale(1.15);
	font-size: 14px;
}

.country-text {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	font-size-adjust: 15px;
}
.country-text-asia {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.countries {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	gap: 1.5rem;
}

.strength {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	width: 60%;
}

.my-strengths {
	display: flex;
	background-color: rgb(70, 130, 232);
	gap: 3rem;
}

.book-with-us {
	background-color: rgb(66, 99, 193);
	color: white;
	padding: 3.7rem;
	text-align: right;
	width: 28%;
	font-size: 1.25rem;
}

.bottom-part {
	display: flex;
	gap: 4rem;
	width: 100%;
	justify-content: center;
	padding: 4rem;
}

.gray-background {
	background-color: rgb(32, 32, 32);
}

.black-background {
	background-color: rgb(24, 24, 24);
}

.light-blue-background {
	background-color: rgb(70, 130, 232);
	background-color: rgb(73, 142, 232);
}

.bottom-topic {
	margin-bottom: 2rem;
}

.adjust-border-content {
	padding: 4rem 9rem;
}

.adjust-border-content-nav {
	padding: 1rem 9rem;
}

.contacts {
	display: inline-grid;
	gap: 0.5rem;
}

.activities {
	display: grid;
	gap: 1rem 8rem;
	grid-template-columns: auto auto;
}

.sticky-nav {
	position: sticky;
	top: 0;
}

.top-bar {
	width: 100%;
	position: absolute;
	top: 0;
}

.top-bar-bg {
	background-color: rgb(24, 24, 24, 0.9);
}

.search-bg {
	background-color: rgb(42, 42, 42, 0.6);
}

.lb-search {
	color: aliceblue;
	margin-bottom: 0.5rem;
}

.search-field {
	width: 15%;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.inp-search-field {
	width: 100%;
	font-size: 0.8rem;
	padding: 0.7rem;
	height: 50px;
	background-color: rgb(89, 93, 107);
	color: rgb(204, 213, 232);
	border: 2px solid rgb(104, 110, 116);
}

.inp-search-field.inp-date::after {
	font: var(--fa-font-solid);
	content: "\f073";
}

.inp-search-field.btn-search {
	background-color: rgb(68, 150, 237);
	color: rgb(255, 255, 255);
	position: absolute;
	bottom: 0;
	border: none;
}
.inp-search-field.btn-search:active {
	background-color: brown;
	color: blanchedalmond;
}

.package-tour-bg {
	position: absolute;
	z-index: -1;
	filter: brightness(0.4);
	width: 100%;
	min-width: 70%;
	height: auto;
}

.discount-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: -150px;
	width: 100%;
}

.discount-bg-img {
	position: absolute;
	z-index: -1;
	background-image: url(./assets/girl-travel.jpeg);
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
}

.carousel {
	position: relative;
}

.carousel-item {
	display: none;
}

.fade {
	animation-name: fade;
	animation-duration: 1s;
}

@keyframes fade {
	from {
		opacity: 0.6;
	}
	to {
		opacity: 0.9;
	}
}

.carousel-current-item {
	display: block;
}

.carousel-nav {
	position: absolute;
	left: 50%;
	bottom: 5%;
}

.dot {
	border-radius: 50%;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background-color: #a6a3a3;
	filter: opacity(0.4);
	transform: translate(-150%, 5%);
	transition: background-color 0.3s;
}

.dot-active,
.dot:hover {
	background-color: #efefef;
	filter: opacity(1);
}

.carousel-slice {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 3rem;
}

.slice-bar {
	transform: scale(3);
	cursor: pointer;
	color: white;
}

.slice-bar:hover {
	color: #efefef;
}

.button-discount-detail {
	padding: 1rem 2rem;
	font-weight: 500;
	font-size: 14px;
}

.button-discount-detail:hover {
	color: rgb(72 143 231);
}
